* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* NavBar */

.navbar {
  overflow: hidden;
  background-color: teal;
}

.navbar li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.usericon {
  float: right !important ;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}
.appname {
  /* font-family: "Papyrus", "Courier New", monospace; */
  /* font-family: "Sofia", sans-serif; */
  /* font-family: "Audiowide", sans-serif; */
  font-weight: bold !important;
  /* font-size:2vw !important; */
  color: white !important;
  text-decoration: white !important;
  font-family: "Sofia", sans-serif !important;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
}

footer li {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

/* Content */
.container {
  padding: 24px;
}
#main-container {
  margin-top: 30px;
  padding-top: 30px;
}

#mycanvas {
  display: none;
  width: 100%;
}

#search-container {
    
}

.uploadphoto {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
