* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* NavBar */

.navbar {
  overflow: hidden;
  background-color: teal;
}

.navbar li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.usericon {
  float: right !important ;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}
.appname {
  /* font-family: "Papyrus", "Courier New", monospace; */
  /* font-family: "Sofia", sans-serif; */
  /* font-family: "Audiowide", sans-serif; */
  font-weight: bold !important;
  /* font-size:2vw !important; */
  color: white !important;
  text-decoration: white !important;
  font-family: "Sofia", sans-serif !important;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
}

footer li {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

/* Content */
.container {
  padding: 24px;
}
#main-container {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.f_card {
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
}

.f_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.f_img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
}

.f_container {
  padding: 16px;
  text-align: justify;
  text-justify: inter-word;
}

#listfood li {
  display: block;
  color: black;
  width: 100%;
  padding: 16px 0px;
  text-decoration: none;
  display: inline-block;
} 

#listfood_search li {
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

form.searchform input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  border: none;
}

form.searchform button {
  float: left;
  width: 20%;
  padding: 10px;
  background: teal;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border: none;
}

form.searchform button:hover {
  background: teal;
}

form.searchform::after {
  content: "";
  clear: both;
  display: table;
}

.div_centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50);
}
